.ant-modal-title {
    font-size: 42px;
    color: #ffffff;
    font-weight: 600;
}

.ant-modal-close-x {
    color: #ffffff;
    font-size: 42px;
    padding-right: 69px;
    padding-top: 39px;
}

.ant-modal-header {
    padding: 55px 24px;
    background-color: #E23A89;
}

.ant-modal-body {
    font-size: 42px;
}

.content-modal {
    p {
        margin-bottom: 0;
    }
    .practice-skills {
        margin-top: 5%;
    }
}