.content-head {
    width: 100%;
    text-align: center;
}
.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding-left: 4%;
    .content-no {
        width: 24%;
        height: 24%;
        .content-no-on {
            width: 100%;
            height: 100%;
            border: 1px solid #d5d5d5;
            padding: 14%;
            border-radius: 8%;
            margin-bottom: 2%;
            .padding-buttom-on {
                padding-bottom: 14%;
            }
        }
        .box-radio {
            display: block;
            font-size: 39px;
        }
        .ant-radio-inner {
            width: 30px;
            height: 30px;
            top: -6px;
        }
        .ant-radio-inner:after {
            width: 18px;
            height: 18px;
            top: 5px;
            left: 5px;
            background-color: #F28CBC;
        }
        .ant-radio-checked:after {
            top: -6px;
            border-color: #F28CBC;
        }
        .ant-radio-checked .ant-radio-inner {
            border-color: #F28CBC;
        }
        .ant-input {
            margin-top: 14%;
            border-top: none;
            border-right: none;
            border-left: none;
            font-size: 29px;
            padding: 10%;
            color: #999999;
            text-indent: 4%;
        }
    }
    .content-skill {
        width: 71%;
        padding-right: 4%;
        border-radius: 5%;
        display: flex;
        flex-direction: row;
        .sound-icon {
            width: 9%;
            margin-left: 2%;
        }
        .content-skill-left {
            width: 7%;
        }
        .content-skill-right {
            width: 84%;
            .question-skill {
                height: 88%;
            }
            .content-footer {
                width: 100%;
                display: flex;
                flex-direction: row;
                .icon-youtube {
                    width: 43%;
                }
                .icon-info {
                    width: 40%;
                }
                a,p {
                    color: #999999;
                }
            }
            .margin-top-accessories {
                margin-top: 3%;
            }
        }
    }
    p {
        margin-bottom: 0;
    }
}
.separator-no {
    background: #F28CBC;
    border:none;
    height: 3px;
}

.magin-img-skill {
    margin: 1% 13%;
}

hr {
    margin-top: 5%;
    width: 90%;
}

.ant-message .anticon {
    font-size: 39px;
}

.ant-message {
    font-size: 39px;
    font-family: 'Athiti', sans-serif;
}

.mask-open-img {
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.65);
    margin-top: -21%;
    text-align: center;
    img {
        margin-top: 65%;
        }
}