.content-assessor {
    margin-bottom: 7%;
    .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        .ant-input {
            height: 100%;
        }
        .left {
            width: 35%;
        }
        .right {
            width: 65%;
        }
    }
    .has-error .ant-form-explain, .has-error .ant-form-split {
        font-size: 39px;
        font-family: 'Athiti', sans-serif;
    }
}
.ant-btn, .ant-btn:active, .ant-btn:focus {
    font-size: 39px;
    font-family: 'Athiti', sans-serif;
    height: 100%;
}
.ant-modal-footer button + button {
    margin-right: 2%;
    margin-left: 4%;
}