@import (css) url('https://fonts.googleapis.com/css?family=Athiti');
.font {
    font-family: 'Athiti', sans-serif;
}
.font-small {
    font-size: 39px;
}
.font-medium {
    font-size: 42px;
}
.font-weight-heavy {
    font-weight: 600;
}
.white-color {
    color: #ffffff;
}
.red-color {
    color: #f5222d;
}
.green-color {
    color: #52c41a;
}
.blue-color {
    color: #1890ff;
}
.pink-color {
    color: #F28CBC;
}
.black-color {
    color:black;
}
html, body {
    margin: 0;
    height: 100%;
}