.home {
    background-image: linear-gradient(#ffffff 60%, #fad5e5);
    .loading {
        width: 100%;
        z-index: 0;
        text-align: center;
        position: absolute;
        font-size: 8em;
        margin-top: 74%;
    }
    .box-logo-head, 
    .box-cloud-one,
    .box-cloud-two,
    .box-logo-footer {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        .logo-head {
            width: 15%;
            padding-right: 3%;
            padding-top:  3%;
            margin-bottom: 2%;
        }
    }
    .box-cloud-one,
    .box-logo-footer {
        flex-direction: row;
        .cloud-one {
            width: 26%;
            padding-left: 3%;
            margin-top: -3%;
        }
    }
    .box-header, .box-content {
        width: 100;
        text-align: center;
    }
    .box-cloud-two {
        .cloud-two {
            width: 26%;
            padding-right: 3%;
        }
    }
    .box-content {
        margin-top: -4.9%;
    }
    .box-logo-footer {
        margin-top: 3%;
        .logo-one,
        .logo-two {
            width: 20%;
            padding-left: 3%;
        }
        .logo-one {
            margin-top: -2%;
        }
        .logo-two {
            margin-left: -5%;
        }
    }
    .box-footer {
        margin-top: -0.9%;
    }
}
