.nav-head {
    width: 100%;
    height: 182px;
    background-color: #E23A89;
    display: flex;
    flex-direction: row;
    position: fixed;
    margin-top: -21%;
    z-index: 1;
    .hamberger-menu {
        width: 11%;
        padding-left: 3%;
        margin: 3.5% 0 3%;
        .ant-btn {
            background-color: inherit;
            color: #fff;
            border: none;
        }
        .hamberger-menu-open {
            position: absolute; 
            z-index: 2; 
            margin-left: 51%;
            background-color: #fff;
            color: #999;
            transition-duration: .0001s;
            border: none;
        }
    }
    .nav-content {
        width: 80%;
        margin: 3% 0% 3%;
        text-align: center;
        h1 {
            margin-bottom: 0.3%;
        }
        p {
            font-size: 29px;
            margin-bottom: 1%;
        }
    }
    .mask-open-menu {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 1;
        background-color:rgba(0, 0, 0, 0.65);
        .open-menu {
            width: 65%;
            height: auto;
            background-color: #ffffff;
            padding: 4%;
            .tag-a-menu {
                padding: 1% 0;
            }
            .separator-head {
                width: 100%;    
                background: #F28CBC;
                border:none;
                height: 3px;
            }
            .link-menu {
                display: flex;
                flex-direction: row;
                width: 100%;
                .cicle-icon {
                    width: 10%;
                    .cicle {
                        width: 38%;
                        height: 20px;
                        background-color: #999;
                        border-radius: 46%;
                        margin-top: 39%;
                        margin-left: 12%;
                    }
                }
                .link {
                    width: 80%;
                    a {
                        color: #000;
                    }
                }
            }
            div:hover {
                background-color: #fad3e6;
                a {
                    color: #fff;
                }
            }
        }
        .open-book-pink {
            display: flex;
            flex-direction: row-reverse;
            .link-book-pink {
                margin-top: 2%;
                width: 41%;
                a {
                    color: #ef59a1;
                }
            }
        }
    }
}
