.register {
    width: 100%;
    height: unset;
    background-image: linear-gradient(#bee5ee 20%, #8FC9D6 80%);
    padding: 5% 0.01%;
    .border-content {
        width: 90%;
        height: 100%;
        padding: 3%;
        border: 1px solid #ccc;
        border-radius: 5%;
        background-color: #ffffff;
        margin: 0 auto;
        .next-button {
            text-align: right;
            margin-top: 6.5%;
            .ant-btn {
                height: 100%;
            }
        }
        .logo {
            text-align: center;
            margin-top: 3%;
        }
        .header {
            width: 100%;
            text-align: center;
            margin-top: 3%;
            font-weight: 700;
            font-size: 42px;
            color: #009b9e;
        }
        .content {
            display: flex;
            flex-direction: row;
            padding: 0;
            margin-top: 3%;
            .left {
                width: 50%;
            }
            .right {
                width: 49%;
                padding-left: 1%;
                .ant-input {
                    height: 70%;
                    font-family: 'Athiti', sans-serif;
                    font-size: 39px;
                }
            }
        }
        .personal-infomation {
            margin-top: 4%;
        }
        p {
            margin-bottom: 1%;
        }
    }
}

